<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{meta.package}}.{{meta.module}}.dao.{{meta.name}}Mapper">
    <sql id="columns">
        {% for field in meta.fields -%}
        t.{{field.column}}{% if not loop.last %},{{"\n\t\t"|e}}{% endif %}
        {%- endfor %} 
    </sql>
    <sql id="condition">
        {% for field in meta.fields -%}
        <if test="{{field.name}} != null and {{field.name}} != ''">
            and t.{{field.column}} = #{{"{"}}{{field.name}},jdbcType={{field.jdbc_type}}{{"}"}}
        </if>{{"\n\t\t"|e}}
        {%- endfor %} 
    </sql>  
    <select id="getList" parameterType="{{meta.package}}.{{meta.module}}.model.{{meta.name}}" resultType="{{meta.package}}.{{meta.module}}.model.{{meta.name}}">
        SELECT 
        <include refid="columns"/>
        FROM {{meta.table}} t
        <where>
            <include refid="condition"></include>
        </where>
    </select>
</mapper>
